body {
  background-color: #45454d;
  color: #fff1e9;
  font: sans-serif;
  margin: 0;
  padding: 80px 0 32px;
  text-align: center;}

h1 {
  font-weight: 300;
  margin: 0;}

/* Gradient text*/
.warning {
  color: #fff1e9;
  font-weight: 400;
  margin: 0 auto 50px;
  max-width: 144px;}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width:294px;}

.viewer {
  /*color: #fce958;*/
  float: left;
  line-height: 70px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
  width: 163px;}

button {
  border: 0;
  background-color: #ff4893;
  color: #a6bdac;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 8px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  transition: all 0.5s;}

button:hover {
    background:#ffd5d5;}
  
button:focus {
    outline: 0;}

/* Reset button */
.reset {
  background: #c97773;
  color:#c97874;
  font-weight: 400;
  margin-left: -77px;
  padding: 8px 16px;
  position: absolute;
    top: -320px;
    left: 50%;
  width: auto;
  height: auto;}
  
.reset:hover {
    background: #c97874;
    color: #100a1c; }